{% load bootstrap4 static %}
<html>
<head>
<link href="{% static "meeting_guide/print.css" %}" rel="stylesheet">
</head>
<body>
<section>
    <header>SEPIA MEETING DIRECTORY</header>
</section>
<br>
<br>
<div class="text-center">
    <h1>{% now "F Y" %}</h1>
    <br>
    <br>
    <br>
    <br>
    <div class="large-text">
        SOUTHEASTERN PENNSYLVANIA INTERGROUP ASSOCIATION<br>
        444 North 3rd Street, 3rd Floor<br>
        Philadelphia, PA 19123
        <br>
        <br>
        <br>
        <br>
        <br>
        Phone: 215-923-7900 Fax: 215-923-7133<br>
        Website: www.aasepia.org Email: info@aasepia.org
    </div>
</div>
<div class="page-break"></div>

<div class="text-center">
  <strong>OPEN</strong> meetings can be attended by <em>anyone</em>.<br>
  <strong>CLOSED</strong> meetings can be attended by anyone who has a desire to stop drinking.<br>
  If you think you have a problem with alcohol, you are welcome to attend closed meetings.<br>
  <h3>Meeting Type Codes</h3>
</div>
<table>
    <tbody>
        {% for type in meeting_types %}
            <tr>
                <td style="width: 50%; text-align: right;">
                    <strong>{{ type.intergroup_code }}: </strong>
                </td>
                <td style="width: 50%;">{{ type.type_name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>
<h3 class="text-center">
NOTE: Please refer to our website for the most<br>
up-to-date information about all meetings.
</h3>
<h1 class="text-center">
    www.AASEPIA.org
</h1>
<div class="page-break"></div>
<div class="container-fluid">
{% for region, region_value in meetings.items %}
<section>
    <header>{{ region }}</header>
    {% for day, day_value in region_value.items %}
    <section>
        <subheader>{{ day }}</subheader>
        {% for postal_code, meetings in day_value.items %}
            <h3>{{ postal_code }}</h3>
            <table cellspacing="0" cellpadding="0" border="0" style="padding: 1; margin: 0; border: 0;">
                <tbody>
                    {% spaceless %}
                    {% for m in meetings %}
                        <tr>
                            <td style="width: 17%; padding-right: px;">
                                {{ m.time_formatted }}
                                {{ m.types|join:";" }}
                            </td>
                            <td style="width: 35%;">
                                <strong>{{ m.name }}</strong>
                                {% if m.district %}
                                    (D{{ m.district }}) #
                                    {% if m.gso_number %}
                                        {{ m.gso_number }}
                                    {% else %}
                                        0
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td style="width: 48%;">
                                {{ m.location }}, {{ m.formatted_address }}
                                {% if m.location_details %}
                                    ({{ m.location_details }})
                                {% endif %}
                                {% if m.meeting_details %}
                                    ({{ m.meeting_details }})
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% endspaceless %}
                </tbody>
            </table>
        {% endfor %}
    </section>
    {% endfor %}
    <div class="page-break"></div>
</section>
{% endfor %}
</div>
</body>
</html>
