<html>
<body>
{% for day, day_value in meetings.items %}
<section>
    <h1>{{ day }}</h1>
    {% for region, region_value in day_value.items %}
    <section>
        <h2>{{ region }}</h2>
            {% for sub_region, meetings in region_value.items %}
                <div class="region">
                    <h3>{{ sub_region }}</h3>
                    <table width="100%">
                        {% for meeting in meetings %}
                            <tr>
                                <td width="10%">
                                    {{ meeting.time_formatted }}
                                </td>
                                <td width="30%">
                                    <strong>
                                        {{ meeting.name }}
                                    </strong>
                                </td>
                                <td width="10%">
                                    {{ meeting.types|join:";" }}
                                </td>
                                <td width="50%">
                                    {{ meeting.formatted_address }}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        <div class="page-break"></div>
    </section>
    {% endfor %}
</section>
{% endfor %}
</body>
</html>
