{% extends 'base.html' %}
{% load bootstrap4 cache %}

{% block inner_content %}
<div class="jumbotron">
    <h1>Meeting Directory</h1>
    <p class="lead">Welcome to SEPIA's list of meetings in the Philadelphia five-county area. Click a column header to sort by that header, or use the search box to search any field.</p>
</div>
<div class="row">
    <div class="col-md-9 col-sm-12">
        <table id="meetings" class="display" width="100%">
            <thead>
                <tr>
                    <th>Group</th>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for meeting in meetings %}
                    <tr>
                        <td>
                            {{ meeting.group.name }}<br>
                            {{ meeting.meeting_location.address1 }}<br>
                            {{ meeting.meeting_location.city }},
                            {{ meeting.meeting_location.state }}
                            {{ meeting.meeting_location.postal_code }}<br>
                            {{ meeting.meeting_location.region }}
                        </td>
                        <td data-order="{{ meeting.day_sort_order }}">
                            {{ meeting.get_day_of_week_display }}
                        </td>
                        <td data-order="{{ meeting.day_sort_order }}{{ meeting.start_time|date:"H" }}{{ meeting.start_time|date:"i" }}">
                            {{ meeting.start_time }} - 
                            {{ meeting.end_time }}
                        </td>
                        <td>
                            {% for type in meeting.types.all %}
                                {{ type.type_name }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-header">
                Search Tips!
            </div>
            <div class="card-body">
                <h6 class="card-title">Example Searches</h6>
                <p class="card-text">
                    <li>ardmore</li>
                    <li>19129</li>
                    <li>women</li>
                    <li>bucks county</li>
                    <li>friday</li>
                    <li>bethlehem pike</li>
                </p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                Get the <a href="https://meetingguide.org/">Meeting Guide</a> App
            </div>
            <div class="card-body">
                <p class="card-text">
                    This same meeting list is available on the App. If you have an Android or iPhone, we highly recommend it.
                    <li><a href="https://itunes.apple.com/us/app/meeting-guide/id1042822181?mt=8">iPhone: download here!</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=org.meetingguide.app&hl=en">Android: download here!</a></li>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
meetingData = [
{{ js_data|safe }}
];

$(document).ready(function() {
    $('#meetings thead th[colspan]').wrapInner( '<span/>' ).append( '&nbsp;' );
    $('#meetings').DataTable({
        "order": [
            [2, "asc"]
        ],
        "language": {
            "search": "<strong>Search meetings:"
        },
        "responsive": true,
        initComplete: function () {
            this.api().columns([1]).every(function () {
                var column = this;
                var select = $('<select><option value="">All Days</option></select>')
                    .appendTo($(column.header()).empty())
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search(val ? '^'+val+'$' : '', true, false)
                            .draw();
                    } );
 
                column.data().unique().sort().each( function (d, j) {
                    select.append( '<option value="' + d + '">' + d + '</option>' )
                });
            });
        }
    });
});
</script>
{% endblock inner_content %}
