{% load static %}
<meetings src="{% url "meeting-guide:api" %}"></meetings>
<script>
    window.config = {
        defaults: {
            title: true,
        },
        keys: {
            mapbox: '{{ mapbox_key }}',
        },
        strings: {
            en: {
                // meetings: 'AA Meetings',
            },
        },
    };
</script>
{% comment %}
Let's keep a local copy of the JavaScript here so we can control
when upgrades occur and test.

Source is at https://react.meetingguide.org/app.js
{% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'meeting_guide/style.css' %}">
<script src="{% static 'meeting_guide/app.js' %}" async></script>
