html, td {
    font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

table {
    width: 100%;
}

body {
    margin: 0;
}

@page {
    size: Letter;
    margin: 20mm 7mm 7mm 7mm;
    @top-center {
        content: string(header) ": " string(subheader) " (Page " counter(page) " of " counter(pages) ")";
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22pt;
        text-transform: uppercase;
    }
}

.region {
    page-break-inside: avoid;
}

.page-break {
    page-break-after: always;
}

.text-center {
    text-align: center;
}

header {
    width: 0;
    height: 0;
    visibility: hidden;
    string-set: header content();
}

subheader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
    string-set: subheader content();
}

h1, .h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
}

h2, .h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

h3, .h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    padding: 3px 0 0 0;
    margin: 0;
    text-decoration: underline;
    text-transform: uppercase;
}

h4, .h4 {
    font-size: 12pt;
}

h5, .h5 {
    font-size: 11pt;
}

h6, .h6 {
    font-size: 9pt;
}

.large-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26pt;
}

.medium-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
}
